@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@600;700;800&family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@500&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "OPPO Sans";
  src: url('/fonts/OPPOSans-Regular.ttf') format('truetype-variations');
  font-weight: 400 800;
  font-style: normal;
}

@theme {
  --font-hanken: "OPPO Sans", "Hanken Grotesk", sans-serif;
  --font-sans: "OPPO Sans", "Inter", system-ui, sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  /* Theme colors defined in the Heritage Modernist system */
  --color-surface-bg: #fbf9f8;
  --color-surface-dim: #dbdad9;
  --color-surface-lowest: #ffffff;
  --color-surface-low: #f5f3f3;
  --color-surface-container: #efeded;
  --color-surface-high: #e9e8e7;
  --color-surface-highest: #e4e2e2;
  
  --color-text-primary: #1b1c1c;
  --color-text-muted: #4c4546;
  --color-brand-primary: #000000;
  --color-brand-secondary: #a2375f;
  
  --color-brand-error: #ba1a1a;
  --color-brand-error-container: #ffdad6;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

